.production {
    display: flex;
    transition: 100ms;
    padding: 0 15rem;
}

.production-cover {
    max-width: 15rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: .2rem;
    margin: 2rem;
    box-shadow: .05rem .1rem 3px;
    transition: 100ms;
}

.production:hover {
    transition: 200ms;
}

.production:hover {
    background-color: darkred;
    cursor: pointer;
}

.production:hover .production-cover {
    transform: scale(1.01);
}

.production:hover .production-info {
    color: white;
}

.production-info {
    margin: 16px;
    width: 40rem;
    text-align: justify;
    text-justify: inter-word;
}

.production-title {
    margin-bottom: 0;
    padding: 0;
}

.production-subtitle {
    font-size: 12px;
    margin-top: 0;
    font-weight: 300;
}

@media screen and (max-width: 1600px) {
  .production {
    padding: 0 13%;
  }
}

@media screen and (max-width: 1000px) {
  .production {
    padding: 0 5%;
  }
}

@media screen and (max-width: 700px) {
  .production-cover {
      max-width: 8rem;
  }
}

@media screen and (max-width: 500px) {
  .production-cover {
      max-width: 4rem;
  }
}
