.production {
    display: flex;
    transition: 100ms;
}

.production-cover {
    width: 15rem;
    object-fit: cover;
    border-radius: .2rem;
    margin: 2rem;
    box-shadow: .05rem .1rem 3px;
    transition: 100ms;
}

.production:hover {
    background-color: darkred;
    cursor: pointer;
    transition: 200ms;
}

.production:hover .production-cover {
    transform: scale(1.01);
    transition: 200ms;
}

.production-info {
    margin: 16px;
    width: 40rem;
}

.production:hover .production-info {
    color: white;
    transition: 200ms;
}

.production-title {
    margin-bottom: 0;
    padding: 0;
}

.production-subtitle {
    font-size: 12px;
    margin-top: 0;
    font-weight: 300;
}
