.subtitle-outer-container {
  margin: 0 3vw;
  margin-top: 10vh;
}

.subtitle-inner-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1300px;
}

.subtitle {
  text-align: center;
  font-size: 32px;
  margin: 0;
  margin-right: 30px;
}

.quote {
  padding-top: 15px;
}
