body {
  background-color: black;
  color: #d3d1d3;
}

.productions {
  display: grid;
  gap: min(4vw, 2rem);
  grid-template-columns: repeat(auto-fit, 200px);
  margin: 5vw;
  margin-top: 1vh;
}

.about {
  display: flex;
  gap: 2rem;
  text-align: justify;
  margin: 5vw;
  margin-top: 1vh;
  font-size: 18px;
}

.aboutText {
  max-width: min(100%, 800px);
}

.about img {
  float: right;
  width: 500px;
  max-width: 100%;
}

@media (max-width: 1030px) {
  .about {
    flex-wrap: wrap;
  }

  .about img {
    width: 100%;
  }

  .aboutText {
    max-width: 100%;
  }
}
