body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Overpass";
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass"), url("./fonts/overpass/overpass-regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass"), url("./fonts/overpass/overpass-bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass"), url("./fonts/overpass/overpass-italic.otf");
  font-style: italic;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass"), url("./fonts/overpass/overpass-light.otf");
  font-weight: lighter;
}
